@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Hotel" asp-action="Index" method="get">
	<p>
		Search: <input type="text" name="searchString" />
		<input type="submit" value="Filter" />
	</p>
	<div>
		<input type="radio" name="sortBy" id="All" value="All"
			   checked="@ViewData["All"]" />
		<label for="All">All</label>
		<input type="radio" name="sortBy" id="Flights" value="Flights"
			   checked="@ViewData["Flights"]" />
		<label for="Flights">Flights</label>
		<input type="radio" name="sortBy" id="Hotels" value="Hotels"
			   checked="@ViewData["Hotels"]" />
		<label for="Hotels">Hotels</label>
		<input type="radio" name="sortBy" id="CarRentals" value="CarRentals"
			   checked="@ViewData["CarRentals"]" />
		<label for="CarRentals">CarRentals</label>
	</div>
</form>