@model WebDevGroupProject.Models.Booking

@{
    ViewBag.Title = "Book Hotel";
}

<h2>Book Hotel</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ServiceId) 
    <div class="form-group">
        @Html.LabelFor(model => model.PassengerName)
        @Html.TextBoxFor(model => model.PassengerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PassengerName)
    </div>
    <button type="submit" class="btn btn-primary">Book Hotel</button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}