@{
    ViewBag.Title = "Booking Confirmation";
}

<h2>Booking Confirmation</h2>

<div class="alert alert-success" role="alert">
    @TempData["BookingMessage"]
</div>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</p>